.resume-block-main
  display: flex
  flex-direction: row
  flex-wrap: wrap
  max-width: 95ch

.subheading
    margin-top: -0.8rem

.mb-1
    margin-bottom: 1rem

.resume-block-item
  margin-bottom: 2rem

+tablet
  .resume-block-item
    padding: 1rem

.download-button
  @extend .is-flex
  @extend .is-justify-content-start
  @extend .mb-4
  a
    @extend .button
    @extend .is-outlined
    @extend .is-rounded
    font-size: 0.7rem
