{{#each @person.profiles as |profile|}}
<FaIcon @prefix="fab" @icon={{lower profile.network}} />
<a href={{profile.url}} aria-label={{profile.network}}>
    <span>{{profile.username}}</span>
</a>
{{/each}}