<div class="download-button">
  <a href="https://docs.google.com/document/d/1xgQX06X59O_I3htzhjGkd4P7_AemZ-VtVOt2KbmSoIQ/edit?usp=sharing">
    <FaIcon @prefix="fal" @icon="file-download" />Download Resume
  </a>
</div>
<ResumeBlock @type="work" @icon="laptop-code" as |item|>
    {{#each @model.work as |work|}}
    <item.work @model={{work}} />
    {{/each}}
</ResumeBlock>
<ResumeBlock @type="education" @icon="graduation-cap" as |item|>
    {{#each @model.education as |education|}}
    <item.education @model={{education}} />
    {{/each}}
</ResumeBlock>
