<div class="download-button">
  <a href="assets/pdf/fernando-gelin-senior-software-engineer-resume.pdf" download>
    <FaIcon aria-label="file pdf icon" @prefix="fal" @icon="file-pdf" />{{t "actions.download"}}
  </a>
</div>
<ResumeBlock @type="work" @icon="laptop-code" as |item|>
    {{#each @model.work as |work|}}
    <item.work @model={{work}} />
    {{/each}}
</ResumeBlock>
<ResumeBlock @type="education" @icon="graduation-cap" as |item|>
    {{#each @model.education as |education|}}
    <item.education @model={{education}} />
    {{/each}}
</ResumeBlock>
