<h1>{{{@model.name}}} {{t 'main.preview'}}</h1>
<video muted controls playsinline autoplay width='100%' height='100%'>
  <source src="/assets/media/{{@model.preview}}" type="video/mp4">
</video>
{{outlet}}
