<section class="one-three-split">
    <div class="one">
        <section class="person">
            <LangSelect />
            <ProfileCard @person={{@model.person}} />
            <SkillsBox as |skill|>
                {{#each @model.skills as |item|}}
                <skill.item @item={{item}} />
                {{/each}}
            </SkillsBox>
        </section>
    </div>
    <div class="three">
        <div class="columns">
            <ResumeBlock @type="work" @icon="laptop-code" as |item|>
                {{#each @model.work as |model|}}
                <item.work @model={{model}} />
                {{/each}}
            </ResumeBlock>
            <ResumeBlock @type="education" @icon="graduation-cap" as |item|>
                {{#each @model.education as |model|}}
                <item.education @model={{model}} />
                {{/each}}
            </ResumeBlock>

        </div>
    </div>
</section>