<section class="one-three-split">
    <div class="one">
        <section class="person">
            <LangSelect />
            <ProfileCard @person={{@model.person}} />
        </section>
    </div>
    <div class="three"></div>
</section>